<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">Home</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MVC Training", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("All Stocks", "Index", "StocksManager", new { area = "" }, htmlAttributes:
new { @class = "btn btn-warning" })
                @Html.ActionLink("Add New", "AddNewStock", "StocksManager", new { area = "" }, htmlAttributes:
new { @class = "btn btn-info" })
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Powered by ASP.NET MVC, &copy; @DateTime.Now.Year - Fnf ASP.NET MVC Training</p>
        </footer>
    </div>

    
</body>
</html>