@model SampleMvcApp.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h1>Displaying the Employee Details</h1>
        <hr />
        <section>
            <p>Employee Name : @Model.EmpName</p>
            <p>Employee Address : @Model.EmpAddress</p>
            <p>Employee Salary : @Model.EmpSalary</p>
            <p>
                <img src="@Model.EmpImage" alt="Image of the Employee" />
            </p>
            <p>Employee ID : @Model.EmpId</p>
        </section>
    </div>
</body>
</html>
