@model SampleApiMvcClient.Models.Stock

@{
    ViewData["Title"] = "Details";
}
@if (ViewBag.Error != null)
{
    <p class="text-danger">@ViewBag.Error</p>
}
<h1>Details</h1>

<div>
    <h4>Stock</h4>
    <hr/>
    <form asp-action="Details" method="post">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockId)
        </dt>
        <dd class = "col-sm-10">
            @Html.EditorFor(model => model.StockId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockName)
        </dt>
        <dd class = "col-sm-10">
            @Html.EditorFor(model => model.StockName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.EditorFor(model => model.StockDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.EditorFor(model => model.UnitPrice)
        </dd>
    </dl>
    <button type="submit">Save Changes</button>
    </form>
</div>
